<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="/javascript/application.js"></script>

  <title>My blog</title>
</head>
<body>
  <nav>
    <button><a href="/">Main Page</a>  </button>
  </nav>
  <%= yield %>
</body>
</html>
